* {
  margin: 0;
  padding: 0;
  /* overflow: none; */
  font-family: Playfair Display;
  box-sizing: border-box;
  z-index: 0;
}

canvas{
  /* border: 1px red solid; */
  position: absolute;
  display: block;
  z-index: -5;
}